<%- if @alt_document_root %>
alt_document_root = "<%= @alt_document_root %>"
<%- end %>
<%- if @shutdown_timeout %>
shutdown_timeout = "<%= @shutdown_timeout %>"
<%- end %>
<%- if @trusted_cidrs_for_propagation %>
trusted_cidrs_for_propagation = <%= @trusted_cidrs_for_propagation.to_json %>
<%- end %>
<%- if @trusted_cidrs_for_x_forwarded_for %>
trusted_cidrs_for_x_forwarded_for = <%= @trusted_cidrs_for_x_forwarded_for.to_json %>
<%- end %>

<%- if @extra_config_command %>
config_command = "<%= @extra_config_command %>"
<%- end %>

<% if @workhorse_keywatcher %>
[redis]
Password = "<%= @password %>"
<% if @sentinels.empty? %>
URL = "<%= @redis_url %>"
<% else %>
Sentinel = <%= @sentinels.to_json %>
SentinelMaster = "<%= @sentinel_master %>"
SentinelPassword = "<%= @sentinel_password %>"
<% end %>
<% end %>

<%- if @object_store_toml %>
<%= @object_store_toml %>
<%- end %>

[image_resizer]
  max_scaler_procs = <%= @image_scaler_max_procs %>
  max_filesize = <%= @image_scaler_max_filesize %>
